#chat {
	border: 3px ridge black;
	margin:10%;
	margin-left: 23%;
	margin-top: 5%;
	width:50%;
	height:60%;
	background:#F8FAC8;
	color:black;
	font-family: TimesNewRoman;
	font-size: 16pt;
    overflow: auto;
  
}



.input{
margin-left:23%;
margin-top: -10%;
}
	
#text {
	width: 49%;
	height: 15%;
	background:#C7F9D0;
    color:black;
	font-family: TimesNewRoman;
	font-size: 14pt;
	border: black 3px ridge;
}

#send {
	margin-top: -8%;
	margin-left:50%;
	font-family:arial;
	font-size:20px;
	color: #E8DCAC;
	background-color: black;
	width: 15%;
	height: 6%;
	border: black 2px ridge;
}
#name {
	color: orange;
	font-size: 28px;
 margin-left: 17%;
 margin-top: -6%;
}

 body{
    background-color: #E1CCFF;
   } 
   
.first {
	  color: #8532A8;

  }
  #first {
	  width: 6%;
  }
  
.second {
	  color: #24B351;
  }
  #second {
	  width: 6%;
  }
  .third {
	  color: #F51A88;
  }
  #third {
	  width: 6%;

  }